<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>Welcome To the {{course}} class this is very good Course</center></h1>
    <h1><center>You all will enjoy by learning this</center> </h1>
    <h2><center><img src="{{img}}" alt=""></center></h2>
    <h2><center>You can refer this course Documentation from here <a href="{{url}}" style="padding:10px 20px; background-color:#007BFF; color:white; text-decoration:none; border-radius:5px;">Click here</a></center></h2>
</body>
</html>