<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="" alt="">
    <h1 style="color: red;"><center>Hiii Duniya kysa hai tum</center>
    </h1>
    <h1><center>My name is {{name|upper}} i am living in the {{place}}</center> </h1>
    <!-- <h1><center>i am living in the {{place}}</center></h1> -->
    <h1><center>and my work as a {{job}}</center></h1>
</body>

</html>