<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><img   height="600px", width="500px" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202408/rohit-sharma-131403807-3x4_0.jpg?VersionId=COBnAcc0cITb2LBHRtFiGikchODjVwYf" alt="">Rohit Sharma</center>
    <h1><center>I am the great fan of {{name}}</center></h1>
    <h1><center>He is the caption of {{team}}</center></h2>
    <h1><center>He won successfully {{cup}} in the IPL</center></h1>


</body>
</html>