<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>In the recent Election Result of Delhi</center></h1>
    <h1><center>The BJP Won the Election in the name of Modi</center></h1>
    <h1><center><img   height="400px", width="500px" src="{{img}}"</center></h1>
    <h1><center>If you want to Know the full story or news regarding this you can click on icon to see</center></h1>
    <h1><center><a href="{{news}}">Click Now</a></center></h1>
    <h2><center>{{bio|truncatewords:"5"}}</center></h2>
</body>
</html>